@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
} /* margem e altura de toda a pagina */

body { 
    /* height: 100vh; igual a 100% do viewport height altura do viewport */
    background: #000000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 8%; /* primeira parte superior e na sequencia a lateral */
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cabecalho {
    padding: 2% 0% 0% 5%;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.menu-link {
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}

.menu-link:hover {
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
    text-decoration: none;
}

.apresentacao-titulo {
    font-size: 2.25rem;
    font-family: 'Krona-One', sans-serif;
    color: #22d4fd;
    text-align: center;
    padding: 5%;
}

.apresentacao-titulo:hover {
    color: yellow;
}

.apreesntacao-paragrafo {
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao-links {
    display: flex; /* disposicao dos elementos */
    flex-direction: column; /*disposicao dos elementos em coluna */
    justify-content: space-between; /*espacamento */
    align-items: center; /* centralizar itens */
    gap: 32px; /* espacamento entre os icones */
}

.apresentacao-links-subtitulo {
    font-family: 'Krona-One', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.apresentacao-links2 {
    width: 50%;
    text-align: center; /*alinhamento do botao centralizado */
    border-radius: 8px; /*arredondamento da borda */
    font-size: 1.5rem; /*tamanho da fonte */
    padding: 21.5px 0; /* espaco entre a vertical e a horizontal */
    text-decoration: none; /* Tirar o link do botao */
    color:#f6f6f6; /*cor do texto do link */
    font-family: "Montserrat", sans-serif; /*Fonte do texto do link */
    font-weight: bold; /*peso da fonte: negrito, italico... */
    border: 2px solid #22D4FD; /*borda da apresentacao */
    display: flex; /*inserir depois dos icones os dois abaixo*/
    justify-content: center; /*inserir depois do display flex */
    gap: 16px; /*inserir por ultimo o espacamento entre os icones */
}

.apresentacao-links2:hover { 
    /* inserir uma personalizacao ao botao */
    background-color: #272727; /*inserir uma cor ao passar o mouse */
    /* padding: 1%; adicionar um efeito */
    /* cursor: pointer; pesquisar outros em cursor css */
}

span {
    color: yellow;
}

.destaque {
    color: orange;
}

footer {
    text-align: center;
    background: #22d4fd;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 12px; /*distancia entre a palavra e o fundo */
}

#imagem-principal {
    border-radius: 36%;
    border: 2px solid #22d4fd; 
    border-style: solid;
    border-color: #22D4FD;
    border-width: 2px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%; 
    width: 50%;
}

.conteudo-texto {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: justify;
    padding: 0% 15%;
}

@media (min-width: 344px) and (max-width: 1080px) {
    body {
        background-color: purple;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}